* {
    font-family: 'Ubuntu', sans-serif;
}
#navbar-div {
    background-color: #34496e;
}
#style-for-nav {
    align-items: left;
}
/* this is about the Name Path finder and it will reload al well */
.name-reload-div {
    color: white;
    font-size: 2rem;
    padding: 10px;
    margin-right: 200px;
}
.name-reload-div:hover {
    text-decoration: none;
    color: #6dd2ed;
}
.dropdown-style {
    display: inline-block;
}
.dropdown-toggler-btn {
    cursor: pointer;
    background-color: #34496e;
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    margin-left: 150px;
    margin-right: 200px;
}
.dropdown-toggler-btn:hover {
    color: #6dd2ed;
}
.change-size {
    font-size: 2rem;
    color: white;
    margin-right: 30px;
}

#style-for-menu {
    background-color: #34496e;
    margin-left: 150px;
    width: 250px;
}

a.options-for-algo {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    margin-right: 200px;
}
a.options-for-algo:hover {
    background-color: #4967a1;
    color: white;
}

.visualize-main-button {
    background-color: #4e6083;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #476bb5;
    
}
.disabled-button {
    background-color: red;
    cursor: not-allowed;
    font-size: 1.6rem;
    color: white;
    margin-right: 40px;
    padding: 5px 10px;
    border-radius: 5px;
}
.visualize-main-button:hover {
    background-color: #476bb5;
    border: 1px solid #688bd3;
}
